html, body {
    margin: 0;
    padding: 0;
    
}
*{
    box-sizing: border-box;
}
/* Header */
nav{
    height:15vh;
    display:flex;
    gap:1em;  
    justify-content: space-around;
    align-items: center; 
    background-color: #FFFDFE;
    }
/* Main */
.seed-scheme{
    height:75vh;
    width:100%;
    display:flex;
    border: 1px solid green;
}
.item{
    /* height: 100px; */
    width: 20%;
}
/* Footer */
footer{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: #FFFDFE;
}

